body {
  background-image: url('bgimage.jpg');

  background-repeat: no-repeat;
   background-size: 100% 100%;
   }
  
h1 {
  font-family: 'Sofia', sans-serif;
  font-size: 60px;
 
}
.columns{
  display: grid;
  width: 1000px;
  grid-template-columns: 120px 120px 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
  
}
img{
  /* just a chenge text here(doesnt matter) */
  image-resolution: 100%;
}
